<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Document</title>
  </head>
  <body>
    <h2 class="text-center">Sell <%= @portfolio_item.stock.company_name%> Shares</h2>
    <table class="table table-bordered">
      <th>Shares Held</th>
      <th>Last Trade Price</th>
      <th>Market Cap</th>
      <th>EBITDA</th>
      <th>Earnings/Share</th>
      <th>Price/Earnings</th>
      <th>50-day Moving Average</th>
      <th>Purchase Price</th>


      <tr>
        <td>  <%= @portfolio_item.quantity  %></td>
        <td>$ <%= @portfolio_item.stock.last_trade_price %></td>
        <td>$ <%= @portfolio_item.stock.market_cap %>B</td>
        <td>$ <%= @portfolio_item.stock.ebitda %>B</td>
        <td>$ <%= @portfolio_item.stock.eps %></td>
        <td>$ <%= @portfolio_item.stock.pe %></td>
        <td>$ <%= @portfolio_item.stock.ma_50 %></td>
        <td>$ <%= @portfolio_item.purchase_price  %></td>
      </tr>

    </table>

    <%= form_for @portfolio_item do |f| %>
      <div class="text-center">
          <%= f.label :quantity, "How many shares would you like to sell?" %>
          <%= f.text_field :quantity %>
          <div class=btn><%= f.submit "Sell these shares" %></div>
      </div>

    <% end %>

</body>
</html>
