<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Buy Shares</title>
  </head>
  <body>
    <h2>Buy <%=@stock.company_name%></h2>
    <p>Please enter number of shares and current purchase price</p>
    <table>
      <th>Market Cap</th>
      <th>EBITDA</th>
      <th>Earnings/Share</th>
      <th>Price/Earnings</th>
      <th>50-day Moving Average</th>
      <th>Last Trade Price</th>
      <th>Purchase Price:</th>
      <th>Quantity:</th>
      <th></th>

      <tr>
        <td>$ <%= @stock.market_cap %>B</td>
        <td>$ <%= @stock.ebitda %>B</td>
        <td>$ <%= @stock.eps%>B</td>
        <td>$ <%= @stock.pe %></td>
        <td>$ <%= @stock.ma_50 %></td>
        <td>$ <%= @stock.last_trade_price %></td>
        <%= form_for @portfolio_item do |f| %>
          <td><%= f.text_field :purchase_price %></td>
          <td><%= f.text_field :quantity %></td>

          <td><%= f.hidden_field(:stock_id, :value => @stock.id) %>
            <%= f.submit "Add to Portfolio" %>
          </td>
          <% end %>
      </tr>
  </table>



  </body>
</html>
