<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Buy Shares</title>
  </head>
  <body class="background">
    <h2 class="text-center">Buy <%=@stock.company_name%></h2>

    <table class="table table-bordered">
      <th>Market Cap</th>
      <th>EBITDA</th>
      <th>Earnings/Share</th>
      <th>Price/Earnings</th>
      <th>50-day Moving Average</th>
      <th>Last Trade Price</th>

      <tr>
        <td>$ <%= number_with_precision(@stock.market_cap, :precision => 2) %> B</td>
        <td>$ <%= number_with_precision(@stock.ebitda, :precision => 2) %> B</td>
        <td>$ <%= number_with_precision(@stock.eps, :precision => 2)%> B</td>
        <td>$ <%= number_with_precision(@stock.pe, :precision =>2) %></td>
        <td>$ <%= number_with_precision(@stock.ma_50, :precision => 2) %></td>
        <td>$ <%= number_with_precision(@stock.last_trade_price, :precision =>2) %></td>
      </tr>
    </table>

    <%= form_for @portfolio_item do |f| %>
      <div class=text-center>
        <%= f.label :purchase_price %>
        <%= f.text_field :purchase_price %>
        <%= f.label :quantity %>
        <%= f.text_field :quantity %>
        <%= f.hidden_field(:stock_id, :value => @stock.id) %>
        <div class=btn><%= f.submit "Add to Portfolio" %></div>
      </div>
    <% end %>



  </body>
</html>
