<h1>Stocks</h1>

<ul>
    <% @stocks.each do |stock| %>
        <li>
            <%= stock.code %> - <%= stock.company_name %> - <%= stock.last_trade_price %> - <%= stock.market_cap %> - <%= stock.ebitda %> - <%= stock.eps %> - <%= stock.pe %> - <%= stock.ma_50 %>
        </li>
    <% end %>
</ul>
