<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

   <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

    <title>MySimpleStockPortfolio</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header>
      <% if user_signed_in? %>
      <nav>
        <ul >
          <li type="button" class="btn btn-default navbar-btn"><%= link_to "Available Stocks", stocks_path, :class => 'navbar-link' %></li>
          <li type="button" class="btn btn-default navbar-btn"><%= link_to "My Portfolio", portfolios_path, :class => 'navbar-link' %></li>
          <li type="button" class="btn btn-default navbar-btn pull-right">  <%= link_to "Logout", destroy_user_session_path, method: :delete%></li>
          <li type="button" class="btn btn-default navbar-btn pull-right">  <%= link_to 'Edit profile', edit_user_registration_path %> </li>
          <li class="pull-right btn navbar-btn">Logged in as <strong><%= current_user.email %></strong></li>
      <% else %>
        <li type="button" class="btn btn-default navbar-btn pull-right"> <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  <%></%>
        <li type="button" class="btn btn-default navbar-btn pull-right">  <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
        </ul>
      </nav>

      <% end %>
    </header>

    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>

<div class="container-fluid">
  <%= yield %>
</div>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
   <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
  </body>
</html>
